{{#let (track true) as |show|}}
  {{#if show.value}}
    {{#let (track false) as |display|}}
      <div class={{if display.value "hide-ads-yo" ""}}>
        <div {{i-can-haz-elz}}>
          currently hidden: <code>{{not display.value}}</code>
        </div>
      </div>

      <button type="button" {{on 'click' (fn display.update (not display.value))}}>
        {{if display.value "show" "hide"}}
      </button>
    {{/let}}
  {{/if}}
  <div>
    <button type="button" {{on 'click' (fn show.update (not show.value))}}>
      {{if show.value 'remove' 'add back'}}
      the element
    </button>
  </div>
{{/let}}